
<nav class="navbar navbar-light bg-light justify-content-between">
  <a class="navbar-brand">CookRoom</a>
  <a class="nav-link" href="{% url 'kitchen:index' %}">HOME <span class="sr-only">(current)</span></a>
  <a class="nav-link" href="{% url 'kitchen:dish-type-list' %}">DISH TYPES</a>
  <a class="nav-link" href="{% url 'kitchen:dish-list' %}">DISHES</a>
  <a class="nav-link" href="{% url 'kitchen:cook-list' %}">COOKS</a>
  <a href="https://appseed.us/product/soft-ui-design/django/" target="_blank"
       class="btn btn-sm  bg-gradient-primary  btn-round mb-0 me-1 mt-2 mt-md-0">Project on GIT</a>
</nav>