{% extends "base.html" %}
{% load crispy_forms_filters %}

{% block content %}
  <h1>
    Dish type list
    <a href="{% url 'kitchen:dish-type-create' %}" class="btn btn-primary link-to-page">
      Add new
    </a>
  </h1>
  <form action="" method="get" class="form-inline">
    {{ search_form|crispy }}
    <input type="submit" value="search" class="btn btn-primary">
  </form>
  {% if dish_type_list %}
    <ul>
      {% for dish_type in dish_type_list %}
        <li>
          {{ dish_type.name }}
          <a href="{% url 'kitchen:dish-type-update' pk=dish_type.id %}" class="btn btn-secondary">UPDATE</a>
          <a href="{% url 'kitchen:dish-type-delete' pk=dish_type.id %}" class="btn btn-danger">DELETE</a>
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <p>There are no dish types yet</p>
  {% endif %}
{% endblock %}